body {
      margin: 5.5% 23% 7% 23%;
  }

  .logo {
      font-size: 3vw;
  }

  .link-button {
    float: right;
    border: solid 1.5px #8347D5;
    border-radius: 15px;
    padding-left: 0.65%;
    padding-right: 0.6%;
    padding-top: 0.45%;
    padding-bottom: 0.4%;
    margin-left: 0.5%;
    text-align: center;
    margin-top: 0.1%;
    font-size: 1vw;
  }

  #user-section-edit {
      float: right;
      border: solid 1.5px #8347D5;
      border-radius: 15px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 3px;
      margin-left: 3px;
      text-align: center;
      margin-top: -0.4%;
  }

  #header {
    margin-bottom: 5%;
  }

  /* #poster-section {
    margin-top: 1%;
    margin-bottom: 1%;
  } */

  #poster {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 35%;
    width: 30%;
  }

  .synopsis{
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .summary {
    line-height: 1.5;
  }

  .user-section-header{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }

  #site_list {
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .site {
    margin-top: 1%;
    margin-left: 2%;
  }

  .info-list{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }

  .actor {
    margin-right: 1%;
  }

  .horizontal-scroll-wrapper {
    margin-top: 5%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .review {
    margin-bottom: 15px;
    background-color: #efefef;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px
  }

  dt {
      float: left;
  }

  div {
      font-family: sans-serif;
  }

  .part-title {
      font-weight: bold;
      font-size:large;
      margin-right: 3%;
  }


  #user-section-title {
      display: inline;
  }
  
  #review-section {
      margin-top: 3%;
  }
  
  #review-edit-textarea {
      background-color: #E8E8E8;
      border-color:#E8E8E8;
      width:100%;
  }

  #review-submit {
    float: right;
  border-radius: 6px;
  background-color: #8347D5;
  color: white;
  padding-top: 0.7%;
  font-size: 0.8vw;
  padding-bottom: 0.7%;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  }

  #review-more-button {
      border-radius: 6px;
      background-color: #8347D5;
      color: white;
      width: 100%
  }

  .review-box, .user-setion-header {
      overflow: hidden;
  }

  a {
      text-decoration: none;
  }
  a:link {
      color:black;
  }
  a:visited {
      color: black;
  }
  a:hover {
      color:#8347D5;
  }

  .line {
      width: 100%;
      margin-top: 1%;
      margin-bottom: 1%;
      border-color: lightgray;
      border-width: 0.5px;
  }

  div.part-title, dd {
      margin-bottom: 1.5%;
  }

  h1 {
    font-size: 2vw;
    margin-bottom: 2%;
  }

  .up-part {
    height: 80%;
  }
  .bottom-part {
    height: 30%;
    padding-top: 5%;
  }

  .review-content {
    margin-top: 0%;
    line-height: 135%;
    margin-bottom: 1%;
  }
  
  .menu {
      float:left;
      width:35%;
      margin-bottom:1.5%;
  }
   .address-list {
    width: 100%;
    float: left;
    margin-bottom: 2.5%;
  }
  
  .address {
    float: left;
    width: 100%;
    margin-top:0.8%;
    margin-bottom:0.8%;
  }


@media (max-width: 480px) {
  body {
      margin: 10% 7% 7% 7%;
  }

  .logo {
      font-size: 8vw;
  }
  
  h1 {
    font-size: 6vw;
    margin-bottom: 5%;
  }
  
  .link-button {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 0.5%;
    margin-left: 1%;
    margin-top: 2%;
    font-size: 3.5vw;
  }
   

  #user-section-edit {
      margin-top: -1%;
  }

  #header {
    margin-bottom: 14%;
  }

  #poster-section {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  #poster {
    margin-bottom: 5%;
    margin-left: 10%;
    width: 80%;
  }

  .synopsis{
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .user-section-header{
    margin-top: 5%;
    margin-bottom: 5%;
  }

  #site_list {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .info-list{
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .actor {
    margin-right: 2%;
  }
  
  #review-section {
      margin-top: 7%;
  }    
  
  #review-submit {
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left:5%;
      padding-right:5%;
      margin-top: 3%;
      margin-bottom: 5%;
  }

  div.part-title, dd {
      margin-top: 5%;
      margin-bottom: 4%;
  }
  
  .menu {
      float:left;
      width:50%;
      margin-bottom:2%;
  }
  
  .address-list {
    width: 100%;
    float: left;
    margin-bottom: 5%;
  }
  
  .address {
    float: left;
    width: 100%;
    margin-top:1%;
    margin-bottom:1%;
  }
}
