{% for review in reviews %}
    <div class="review" id="review-{{ review.id }}" url="{{ url('review:like', args=[review.id]) }}" date="{{ review['date'] }}" is_liked="{{ review['is_liked'].__str__().lower() }}">
        <div class="up-part">
            <p style="display: inline-block;"><b>{{ review['nickname'] }}</b></p>
            <p id="date" style="display: inline-block;float: right;"></p>
            <p class="review-content">{{ review['content'] }}</p>
        </div>
        <div class="bottom-part">
        {% if 'like_cnt' in review %}
            <span class="like">
                <button class="like-button">좋아요</button>
                <div class="like-count" style="display: inline">{{ review['like_cnt'] }}</div>
            </span>
        {% endif %}
        {% if review['ref_name'] %}
            <span style="float:right">출처 : <a href="{{ review['ref_url'] }}">{{ review['ref_name'] }}</a></span>
        {% endif %}
        </div>
    </div>
{% endfor %}

<script>
$.each($('.review'), function(key, val) {
    var review = $(val)
    var date = new Date(review.attr('date') * 1000)
    review.find('#date').text(date.getFullYear() + '.' + date.getMonth() + '.' + date.getHours())
    var button = review.find('.like-button')
    button.click(function() {
        $.ajax({
            url: review.attr('url'),
            type: 'POST',
            data: {
                'is_liked': !(review.attr('is_liked') == 'true')
            }
        })
        .done(function() {
            review.attr('is_liked', !(review.attr('is_liked') == 'true'))
            var cnt = review.find('.like-count')
            var like = Number(cnt.text())
            if (review.attr('is_liked') == 'true')
                like += 1
            else
                like -= 1
            cnt.text(like)
        })
    })
});
</script>