<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ static('www/favicon-16x16.png') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="{{ static('css/wiki.css') }}">
    <title>{% block title %}{% if title %}{{ title }}{% else %}EveryReview{% endif %}{% endblock title %}</title>
    <style>{% block style %}{% endblock style %}</style>
</head>
<body class="subpage">
    {% if not request.headers['X-ER-DEVICE'] %}
    <header id="header">
        <div class="inner">
            <a href="{{ url('wiki:index') }}" class="logo"><strong>Every Review</strong></a>
            {% if request.user.is_authenticated %}
            <a href="{{ url('wiki:create') }}" class="link-button" id="create">새 항목 만들기</a>
            <a href="{{ url('account:logout') }}" class="link-button" id="logout">로그아웃</a>
            <script>
                $('#logout').click(function() {
                    $.ajax({
                        url: '{{ url('account:logout') }}',
                        success: function(){
                            window.location = '{{ url('wiki:index') }}'
                        },
                    })
                })
            </script>
            {% else %}
            <a href="{{ url('account:signup') }}" class="link-button">회원가입</a>
            <a href="{{ url('account:login') }}" class="link-button">로그인</a>
            {% endif %}
        </div>
        
    </header>
    {% endif %}

    <section id="main" class="wrapper">
        <div class="inner">
        {% block content %}
            <div id="system-section">
                <div>
                {% if not request.headers['X-ER-DEVICE'] %}
                    <h1><nowiki>{{ title }}</nowiki></h1>
                    {% block refresh %}
                    {% if request.user.is_authenticated %}
                    <button id="refresh" class="link-button">갱신</button>
                    <script>
                        $('#refresh').click(function() {
                            $.ajax({
                                url: '{{ url('wiki:refresh', args=[title]) }}',
                                type: 'GET',
                            })
                            .done(function() {
                                alert('갱신요청완료')
                            })
                        })
                    </script>
                    {% endif %}
                    {% endblock refresh %}
                </div>
                <hr class="line">
                {% endif %}

                {% block system_section %}
                {% endblock system_section %}
            </div>

            <hr class="line">
            <div id="user-section">
                <div class="user-section-header">
                    <div id="user-section-title" class="part-title">편집 가능 구간</div>
                    {% if not request.headers['X-ER-DEVICE'] %}
                    <a href="{{ url('wiki:edit', args=[title]) }}" class="button" id="user-section-edit">편집</a>
                    {% endif %}
                </div>
                <div>{% if user_section %}{% autoescape off %}<nowiki>{{ user_section }}</nowiki>{% endautoescape %}{% endif %}</div>
            </div>

            {% if site %}
            <hr class="line">
            <div id = "site_list">
                <div class="part-title">관련 사이트</div>
                {% for s in site %}
                    <div class = "site"><nowiki><a href="{{ s.url }}">{{ s.site_name }}</a>평점 : {{ s.rating }}</nowiki></div>
                {% endfor %}
            </div>
            {% endif %}

            {% if not request.headers['X-ER-DEVICE'] %}
            <hr class="line">
            <div id="review-section">
                <div class="part-title">리뷰 작성</div>
                <div class="review-box">
                    <textarea id="review-edit-textarea" rows="7" placeholder="내용을 입력하세요"></textarea>
                    <input type="submit" id="review-submit" value="등록">
                </div>
                <hr class="line">
                <script>
                    var post_review = function() {
                        $.ajax({
                            url:'{{ url('review:page', args=[title]) }}',
                            dataType:'html',
                            type:'POST',
                            data:{
                                'content': $('#review-edit-textarea').val(),
                                'rating': '10'
                            },
                            success:function(result){
                                $('#reviews').html(result);
                            },
                            error:function(){
                                $('#reviews').text('리뷰를 작성하는데 실패하였습니다.');
                            }
                        });
                    }
                    $('#review-submit').click(post_review)
                </script>

                <div class="part-title">리뷰 보기</div>
                <div id="reviews">

                </div>
                <div>
                    <input type="button" id="review-more-button" value="더 보기" name="0"/>
                </div>
                <script>
                    index = 0;
                    var get_reviews = function() {
                        $.ajax({
                            url:'{{ url('review:page', args=[title]) }}',
                            dataType:'html',
                            type:'GET',
                            data:{'index': index },
                            success:function(result){
                                index += 1;
                                $('#reviews').append(result);
                            },
                            error:function(){
                                $('#reviews').text('리뷰를 불러오는데 실패하였습니다.');
                            }
                        });
                    }
                    get_reviews()
                    $('#review-more-button').click(get_reviews)
                </script>
            </div>
            {% endif %}
        {% endblock content%}
        </div>
    </section>
</body>
</html>
