{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>로그인</h1>
    Username:
    <input id="username" name="username" type="text">
    <br>
    Password:
    <input id="password" name="password" type="password">
    <br>
    <div id="error">

    </div>
    <br><br>
    <input id="submit" type="submit" value="로그인">
    <script>
        $('#submit').click(function() {
            $.ajax({
                url: '{{ url('account:login') }}',
                type: 'POST',
                data: {
                    'username': $('#username').val(),
                    'password': $('#password').val()
                },
                success: function(){
                    window.location = '{{ url('wiki:index') }}'
                },
                error: function(){
                    $('#error').text('Error')
                }
            })
        })
    </script>
</div>

{% endblock %}