{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>회원가입</h1>
    E-mail:
    <input name="email" type="email">
    <br>
    Username:
    <input name="username" type="text">
    <br><br>
    Password:
    <input name="password" type="password">
    <br>
    Confirm Password:
    <input name="password_dup" type="password">
    <br>
    <div id="error">
    </div>
    <br><br>
    <input id="submit" type="submit" value="회원가입">
    <script>
        $('#submit').click(function() {
            $.ajax({
                url: '{{ url('account:signup') }}',
                type: 'POST',
                data: {
                    'email': $('#email').val(),
                    'username': $('#username').val(),
                    'password': $('#password').val(),
                    'password_dup': $('#password_dup').val(),
                },
                success: function(){
                    window.location = '{{ url('wiki:index') }}'
                },
                error: function(){
                    $('#error').text('Error')
                }
            })
        })
    </script>
</div>

{% endblock %}