{% extends 'base.html' %}

{% block content %}
<div id="main">
    <b>항목 생성</b>
    <input type="text" id="title">
    <br>
    <b>항목 설명</b>
    <textarea id="edit_textarea" rows="10" style="width:100%"></textarea>
    <button id="create-button" class="link-button">생성</button>
    <script>
    var url = '{{ url('wiki:page', args=['-1']) }}'
    $('#create-button').click(function() {
        $.ajax({
            url: '{{ url('wiki:create') }}',
            type: 'POST',
            data: {
                'title': $('#title').val(),
                'content': $('#edit_textarea').val()
            }
        })
        .done(function() {
            window.location = url.replace('-1', $('#title').val())
        })
    })
    </script>
</div>
{% endblock content %}