{% extends 'base.html' %}

{% block style %}
#edit_textarea {
width:100%;
}
{% endblock style %}

{% block content %}
<div id="main">
    <h1>{{ title }}</h1>
    <textarea id="edit_textarea" rows="10" style="width:100%">{{ edit_text }}</textarea>
    <button id="edit" class="link-button">수정</button>
    <script>
        $('#edit').click(function() {
            $.ajax({
                url: '{{ url('wiki:edit', args=[title]) }}',
                type: 'POST',
                data: {
                    'title': '{{ title }}',
                    'edit_text': $('#edit_textarea').val()
                }
            })
            .done(function() {
                window.location = '{{ url('wiki:page', args=[title]) }}'
            })
        })
    </script>
</div>
{% endblock content %}