{% extends 'base.html' %}

{% block style %}
#search-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
{% endblock style %}

{% block content %}
<div id="search-box">
    <form action="{{ url('wiki:search') }}" method="get">
        <input type="text" name="search_str" required>
        <input type="submit" value="검색">
    </form>
</div>
{% endblock content %}