{% extends 'base.html' %}

{% block content %}
<ul>
{% for title in results %}
    <li>
        <a href="{{ url('wiki:page', args=[title]) }}">
            {{ title }}
        </a>
    </li>
{% endfor %}
</ul>
{% endblock content %}